<section class="content-header">
    <h1>
        Про нас
    </h1>
    
</section>
<!-- Main content -->
<section class="content container-fluid">
    <h2>Опис програми:</h2>
    <h3>
      •	Незареєстровані користувачі (Guests) можуть лише зареєструвати свій обліковий запис та переглядати загальну інформацію про сервіс, наприклад, його домашню сторінку, сторінку “Про Нас”, FAQ і т.п.
•	Зареєстровані користувачі (User) можуть здійснювати замовлення вибраних товарів із каталогу (додавати їх у кошик або одразу переходити до оплати), змінювати свої персональні дані у профілі, слідкувати за станом того чи іншого замовлення, переглядати історію своїх замовлень. Примітка: у каталозі повинно бути не менш, ніж 10 товарних позицій.
•	Кур’єр (Courier) має всі ті ж можливості, що і звичайний користувач. Проте під час реєстрації він мусить вказати деякі додаткові дані, щоб отримати цю роль у системі. До цього також додається можливість приймати замовлення і змінювати їхній статус, наприклад “в процесі виконання” або “готове до видачі”.
•	Адміністратор (Admin) керує всією цією системою. Він має доступ до всіх сторінок, у тому числі і до тих, які приховані від інших користувачів. Такими сторінками є: дані про всі виконані замовлення із всіма деталями (проданий вид товарів, їх дата продажу, кількість, в межах за певний період часу, хто із кур’єрів його виконав і т.п.), інформація про всіх користувачів, які зареєструвались у системі, сторінка для редагування наявного каталогу товарів. Очевидно, що всі наведені дані можуть бути ним змінені як і через веб-застосунок та і безпосередньо у базі даних.

    </h3>
</section>