<section class="content-header">
    <h1>
        About
        <small>Page of delivary service</small>
    </h1>
    
</section>
<!-- Main content -->
<section class="content container-fluid">
    <h2>Program description:</h2>
    <h3>
        Capabilities of the following entities:
• Unregistered users (Guests) can only register their account and view general information about the service, for example, its home page, "About Us" page, FAQ, etc.
• Registered users (User) can order selected products from the catalog (add them to the cart or proceed to payment immediately), change their personal data in the profile, monitor the status of this or that order, view the history of their orders. Note: there must be at least 10 product items in the catalog.
• Courier has all the same capabilities as a regular user. However, during registration, he must provide some additional data to obtain this role in the system. In addition, it is also possible to accept orders and change their status, for example, "in progress" or "ready for delivery".
• The administrator (Admin) manages this entire system. He has access to all pages, including those that are hidden from other users. Such pages are: data on all completed orders with all details (type of goods sold, their date of sale, quantity, within a certain period of time, which of the couriers fulfilled it, etc.), information on all users who registered in the system, a page for editing the existing product catalog. It is obvious that all the given data can be changed by him both through the web application and directly in the database.
    </h3>
</section>