<section class="content-header">
    <h1>
        FAQ
    </h1>
    
</section>
<!-- Main content -->
<section class="content container-fluid">
    <h2>Can I buy products?</h2>
    <h3>If you have an accout - yes</h3>
     <h2>Can I add products?</h2>
    <h3>If you an admin - yes</h3>
     <h2>Can I take orders?</h2>
    <h3>If you a coirier - yes</h3>
     <h2>How to create account?</h2>
    <h3>Go to home page and click register.</h3>
</section>