<section class="content-header">
    <h1>
        Часто запитувальні питання
    </h1>
    
</section>
<!-- Main content -->
<section class="content container-fluid">
    <h2>Чи можу я купити продукт?</h2>
    <h3>Якщо маєте акаунт - так</h3>
     <h2>Чи можу я додати продукт?</h2>
    <h3>Якщо ви адмін - так</h3>
     <h2>Чи можу я брати замовлення?</h2>
    <h3>Якщо ти кур'єр, то так</h3>
     <h2>Як увійти в систему?</h2>
    <h3>Перейти на домашню вкладку і нажати кнопку увійти або створити акаунт</h3>
</section>