<section class="content-header">
    <h1>
        Home
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <h1>Щоб увійти нажми тут:</h1>
    <a href="User/Login"> Увійти</a>
    <h1>Щоб створити акаунт нажми тут:</h1>
    <a href="User/Register"> Створити акаунт</a>
</section>