<section class="content-header">
    <h1>
        Home
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <h1>To login click here:</h1>
    <a href="User/Login"> Login</a>
    <h1>To register click here:</h1>
    <a href="User/Register"> Register</a>
</section>