<section class="content-header">
    <h1>
        Адмін
        <small>Привіт Адмін</small>
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
     <div class="box-header">
            <h3 class="box-title">Доступні сторінки адміну</h3>
            <button>
                <a href="User/Index">Сторінка звичайного користувача</a>
                <h1>----</h1>
                <a href="Courier/Index">Сторінка кур'єра'</a>
                <h1>----</h1>
                <a href="Admin/Users">Сторінка всіх користувачів'</a>
                <h1>----</h1>
                <a href="Admin/Products">Сторінка редагування продуктів'</a>
                
            </button>
        </div>
</section>