
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
    Взяти замовлення
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Виберіть ід замовлення</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" method="post" action="TakePurchase">
        <div class="box-body">
       
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Purchase Id</label>
            <div class="col-sm-10">
            <input type="number" class="form-control" name="Id" placeholder="Id">
            </div>
        </div>
        <button type="submit">Взяти</button>
        </div>
       
    </form>
    </div>
    <!-- /.box -->
</section>
